---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .e-card {
        margin: 100px auto;
        background: transparent;
        box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
        position: relative;
        width: 350px;
        height: 330px;
        border-radius: 16px;
        overflow: hidden;
      }

      .wave {
        position: absolute;
        width: 540px;
        height: 700px;
        opacity: 0.6;
        left: 0;
        top: 0;
        margin-left: -50%;
        margin-top: -70%;
        background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
      }

      .icon {
        width: 3em;
        margin-top: -1em;
        padding-bottom: 1em;
      }

      .infotop {
        text-align: center;
        font-size: 20px;
        position: absolute;
        top: 5.6em;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        font-weight: 600;
      }

      .name {
        font-size: 14px;
        font-weight: 100;
        position: relative;
        top: 1em;
        text-transform: lowercase;
      }

      .wave:nth-child(2),
      .wave:nth-child(3) {
        top: 210px;
      }

      .playing .wave {
        border-radius: 40%;
        animation: wave 3000ms infinite linear;
      }

      .wave {
        border-radius: 40%;
        animation: wave 55s infinite linear;
      }

      .playing .wave:nth-child(2) {
        animation-duration: 4000ms;
      }

      .wave:nth-child(2) {
        animation-duration: 50s;
      }

      .playing .wave:nth-child(3) {
        animation-duration: 5000ms;
      }

      .wave:nth-child(3) {
        animation-duration: 45s;
      }

      @keyframes wave {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello,my Friends</h1>
      <p>
        欢迎来到我的博客网站 &nbsp;&nbsp; <strong
          ><span style="color:#8756f9">梦的Blog</span></strong
        >
      </p>
      <img src="/mydream.jpg" alt="图片来源于小米官网" />

      <p>以下说明一下这个网站的目的</p>
      <ul>
        <li>分享一些实用的软件</li>
        <li>分享一些个人的笔记</li>
        <li>更多内容尚待更新</li>
      </ul>
      <p>
        温馨提示:<br />
        1. 本站只作为分发网站，不作为正规博客使用，所以访问可能会加载慢 <br />2.
        网站部分软件来源于互联网，请勿高调使用，尊重版权，如果经济允许，请支持一下软件著作者
      </p>

      <!-- 卡片 -->
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>

        <div class="infotop">
          <svg
            class="icon"
            viewBox="0 0 1025 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="4303"
            width="50"
            height="50"
            ><path
              d="M206.941091 615.959273c24.250182-20.922182 36.375273-48.290909 36.375273-82.082909 0-27.205818-8.005818-49.268364-23.970909-66.280728-15.988364-16.989091-37.306182-27.042909-63.930182-30.161454v-1.093818c21.317818-6.981818 38.027636-18.734545 50.152727-35.281455 12.125091-16.523636 18.176-35.979636 18.176-58.414545 0-26.810182-10.007273-48.570182-30.045091-65.303273S146.618182 252.276364 112.453818 252.276364H0.023273v395.101091h115.176727c36.910545-0.023273 67.490909-10.472727 91.741091-31.418182zM46.312727 294.144h53.178182c50.501818 0 75.752727 19.2 75.752727 57.576727 0 22.248727-7.261091 39.447273-21.76 51.665455s-34.443636 18.315636-59.787636 18.315636H46.312727v-127.557818z m0 169.169455h53.178182c63.534545 0 95.325091 23.342545 95.325091 69.98109 0 22.411636-7.493818 40.052364-22.458182 52.89891-14.987636 12.869818-36.049455 19.293091-63.232 19.29309H46.312727v-142.17309zM317.44 251.461818h45.172364v395.892364h-45.172364V251.461818zM674.373818 607.301818c25.437091-27.089455 38.167273-63.138909 38.167273-108.125091 0-45.940364-11.822545-81.850182-35.397818-107.729454-23.621818-25.902545-56.436364-38.842182-98.490182-38.842182-44.101818 0-79.080727 13.312-104.983273 39.959273s-38.842182 63.650909-38.842182 111.034181c0 43.52 12.427636 78.475636 37.329455 104.820364 24.878545 26.368 58.181818 39.540364 99.886545 39.540364 42.775273-0.023273 76.893091-13.568 102.330182-40.657455z m-193.28-105.402182c0-34.722909 8.448-61.952 25.344-81.687272 16.896-19.758545 39.842909-29.626182 68.887273-29.626182 29.207273 0 51.665455 9.565091 67.351273 28.648727 15.732364 19.106909 23.575273 46.289455 23.575272 81.547636 0 34.909091-7.842909 61.812364-23.575272 80.733091-15.685818 18.920727-38.144 28.392727-67.351273 28.392728-28.672 0-51.549091-9.634909-68.608-28.928-17.082182-19.293091-25.623273-45.637818-25.623273-79.080728z"
              fill="#ffffff"
              p-id="4304"></path><path
              d="M1025.512727 618.728727V359.191273h-45.172363v39.121454h-1.093819c-18.385455-30.487273-46.568727-45.730909-84.596363-45.730909-40.052364 0-71.586909 14.149818-94.626909 42.426182-23.063273 28.276364-34.583273 66.397091-34.583273 114.338909 0 42.24 10.705455 75.915636 32.093091 100.980364 21.410909 25.088 49.664 37.608727 84.736 37.608727 43.170909 0 75.496727-17.989818 97.000727-53.992727h1.093818v30.859636c0 28.928-5.329455 52.177455-16.011636 69.771636l-22.830545 24.157091-0.977455 0.674909c-7.144727 4.398545-57.716364 32.721455-130.117818-0.558545-78.219636-36.002909-189.533091-38.958545-216.948364 55.296l32.279273 24.855273s0-44.357818 49.989818-62.114909c37.143273-13.172364 77.568 3.467636 109.568 17.198545v0.186182c9.192727 4.654545 18.920727 8.494545 29.207273 11.496727l0.488727 0.162909a225.047273 225.047273 0 0 0 61.765818 8.215273c99.141818 0 148.736-51.828364 148.736-155.415273z m-69.003636-35.816727c-15.918545 17.989818-36.514909 26.996364-61.858909 26.996364-24.971636 0-45.056-9.402182-60.206546-28.253091-15.150545-18.827636-22.737455-43.938909-22.737454-75.357091 0-36.538182 7.889455-64.954182 23.691636-85.248s37.655273-30.464 65.582546-30.464c22.597818 0 41.448727 7.982545 56.622545 23.970909 15.150545 15.988364 22.737455 35.165091 22.737455 57.576727v41.611637c0 28.090182-7.959273 51.153455-23.831273 69.166545z"
              fill="#ffffff"
              p-id="4305"></path></svg
          ><br />
          科技改变生活
          <br />
          <div class="name">让每个人都能享受到科带来的美好生活</div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
