---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .m1 {
        text-indent: 2em;
      }
      .m2 {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 60px;
      }
      .typewriter {
        font-size: 20px;
        border-right: 2px solid black;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 1px;
        color: #034d68;
        font-weight: bold;
        border-right: 2px solid black;
        animation: blink-caret 0.7s step-end infinite;
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: black;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h4>你好，我的朋友</h4>
      <div class="m2">
        <div id="typewriter" class="typewriter"></div>
        <script>
          const texts = ["欢迎来到我的博客网站", "点击右上角的博客", "可以随便看一看！"];
          const speed = 150;
          const pause = 1000;
          const element = document.getElementById("typewriter");

          let textIndex = 0;
          let charIndex = 0;
          let isDeleting = false;

          function type() {
            const currentText = texts[textIndex];

            if (isDeleting) {
              element.textContent = currentText.substring(0, charIndex - 1);
              charIndex--;
              if (charIndex === 0) {
                isDeleting = false;
                textIndex = (textIndex + 1) % texts.length;
                setTimeout(type, speed);
              } else {
                setTimeout(type, speed / 2);
              }
            } else {
              element.textContent = currentText.substring(0, charIndex + 1);
              charIndex++;
              if (charIndex === currentText.length) {
                isDeleting = true;
                setTimeout(type, pause);
              } else {
                setTimeout(type, speed);
              }
            }
          }

          type();
        </script>
      </div>
      <img src="/mydream.jpg" alt="" />
      <p class="m1">很喜欢字节公司文化中的一句话：“和优秀的人，做有挑战的事情”</p>
      <p class="m1">
        哈喽，大家好，很荣幸你能进入到这，点击右上角看一看吧，或许对你有所帮助！【因不可抗力，一部分博客丢失了】
      </p>
      <br />
    </main>

    <Footer />
  </body>
</html>
