---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} 梦. Stay hungry, Stay foolish.
  <br />
  <span style="font-size:18px">期待你的加入！联系邮箱：<br /></span>
  <span class="sp"
    ><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
      ><g fill="#60739f"
        ><path
          d="M22 7.535V17a3 3 0 0 1-2.824 2.995L19 20H5a3 3 0 0 1-2.995-2.824L2 17V7.535l9.445 6.297l.116.066a1 1 0 0 0 .878 0l.116-.066z"
        ></path><path
          d="M19 4c1.08 0 2.027.57 2.555 1.427L12 11.797l-9.555-6.37a3 3 0 0 1 2.354-1.42L5 4z"
        ></path></g
      ></svg
    > &nbsp; huo99812@163.com</span
  >
</footer>
<style>
  footer {
    padding: 2em 1em 4em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .sp {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
